APP_URL=https://prima.example.pertamina.com
APP_PORT=8080
APP_KEY=base64:GANTI_DENGAN_HASIL_PHP_ARTISAN_KEY_GENERATE_SHOW
PRIMA_SIGNATURE_SECRET=GANTI_DENGAN_SECRET_ACAK_MINIMAL_32_BYTE
POSTGRES_DB=prima
POSTGRES_USER=prima
POSTGRES_PASSWORD=GANTI_DENGAN_PASSWORD_DATABASE_KUAT
PRIMA_ADMIN_USERNAME=admin
PRIMA_ADMIN_PASSWORD=GANTI_DENGAN_PASSWORD_ADMIN_KUAT
PRIMA_ADMIN_EMAIL=admin@example.pertamina.com
CAPTCHA_ENABLED=true
TURNSTILE_SITE_KEY=GANTI_DENGAN_SITE_KEY_DOMAIN_PRODUKSI
TURNSTILE_SECRET_KEY=GANTI_DENGAN_SECRET_KEY_PRODUKSI
TURNSTILE_EXPECTED_ACTION=login
TURNSTILE_ALLOWED_HOSTNAMES=prima.example.pertamina.com
